
<form method="post">
    <input type="text" name="name" >
    <input type="name" name="inglish" >
    <input type="name" name="gujarati" >
    <input type="name" name="maths" >
    <input type="name" name="hindi" >
    <input type="name" name="total" >
    <input type="name" name="max" >
    <input type="name" name="min" >
    <input type="submit">
</form>